/* Mobile (smartphones) */

#section2{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    z-index: -1;
}


#section2 article:nth-child(1){
    display: flex;
    width: 90vw;
    align-items: flex-start;
    justify-content: space-around;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.2);
}

#section2 article:nth-child(1) img{
    width: 80vw;
    padding: 5vw;
}

#section2 a article img{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 70px;
    padding: 25px 12.5px 25px 12.5px;
}
#section2 a article div{
    width: 40%;
}

#section2 a article div h3{
    color: var(--decorationColor);
    font-size: 1.4rem;
    margin-bottom: 5px;
    text-transform: uppercase;
}

#section2 a article div p{
    font-size: 1rem;
    color: #7e8080;
}

/* Tablets Pequenos */
@media screen and (min-width: 620px){
    #section2 a article{
        display: flex;
        width: 400px;
        align-items: center;
        justify-content: space-around;
        box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.2);
    }
}


/* Telas grandes e notebooks */
@media screen and (min-width: 968px){
    #section1 > article:nth-child(1){
        grid-column: 1/2;
        position: fixed;
        padding: 20px;
    }
    #section1 > article:nth-child(2){
        grid-column: 2/13;
        text-align: end;
        padding: 20px;
        display: flex;
        align-items: center;
        margin-top: 10px;
    }
    #menu{
        display: none;
    }
    #section1 #content{
        display: flex !important;
        width: 150px;
        flex-direction: row;
        box-shadow: none;
        padding: 0;
    }
    #content a{
        display: flex;
    }
}

/* Desktop */
@media screen and (min-width: 1200px){
    
}