/* Variáveis */
:root {
    --textColor: #3498DB;
    --backgroundColor: white;
    --backgroundColor2: #454B54;
    --decorationColor: #D85C6B;
}
/* RESET */
body, p, a, ul, li, h1, h2{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

li{
    list-style-type: none;
}
/* Estilos Básicos */

body{
    background: var(--backgroundColor);
    overflow-x: hidden;
    color: var(--textColor);
    font-size: 14pt;
    font-family: 'mainFont';
}

/* Mobile (smartphones) */

body > section{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}
.back{
    width: 50px;
    position: fixed;
    height: 50px;
    transform: translateY(80px);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 50px;
    margin-left: 85vw;
    z-index: 1;
    border: solid 1px var(--decorationColor);
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.2);
}

.back img{
    width: 25px;
}
#section1{
    width: 100vw;
    background-color: white;
    position: fixed;
    z-index: 9999999999;
}

#section1 > article:nth-child(1){
    grid-column: 1/8;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}


#section1 article:nth-child(1) a{ 
    color: var(--decorationColor);
}

#section1 > article:nth-child(2){
    grid-column: 8/13;
    text-align: end;
    padding: 20px;
}

#section1 #content{
    position: fixed;
    width: 30vw;
    padding: 5% 0 5% 0;
    display: flex;
    background-color: white;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 5%;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.2);
    z-index: 1;
    display: none;
}

#content a{
    color: var(--textColor);
    padding: 5px;
}

#section2{
    transform: translateY(75px);
}

/* Fontes */
@font-face{
    font-family: 'mainFont';
    src: url('../Roboto/Roboto-Regular.ttf');
}

h1, h2, h3{
    font-size: 1.2em;
    font-weight: bold;
}