/* Variáveis */
:root {
    --textColor: #3598DB;
    --backgroundColor: white;
    --backgroundColor2: #454B54;
    --decorationColor: #D85C6B;
    --pColor: #47484C;
}
/* RESET */
body, p, a, ul, li, h1, h2{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

li{
    list-style-type: none;
}
/* Estilos Básicos */

body{
    background: var(--backgroundColor);
    overflow-x: hidden;
    color: var(--textColor);
    font-size: 14pt;
    font-family: 'mainFont';
}

/* Mobile (smartphones) */

body > section{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

#section1{
    width: 100vw;
    background-color: #3598DB;
    position: fixed;
    z-index: 9999999999;
    display: flex;
    padding: 1.5vw 3.5vw 1.5vw 3.5vw;
}

#section1 article{
    width: 31vw;
}

#section1 > article:nth-child(1){
    display: flex;
    align-items: center;
    justify-content: flex-start;
}


#section1 article:nth-child(2) a{ 
    color: white;
    font-family: 'logo';
    text-align: center;
    font-size: 22px;
}

#section1 > article:nth-child(2){
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

#section1 #content{
    position: fixed;
    width: 30vw;
    padding: 5% 0 5% 0;
    display: flex;
    background-color: white;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 5%;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.2);
    transform: translateY(22.5vw);
    z-index: 1;
    display: none;
}

#content a{
    color: var(--textColor);
    padding: 5px;
}

#section2{
    transform: translateY(75px);
}

/* Fontes */
@font-face{
    font-family: 'logo';
    src: url('../static/MuseoModerno-Regular.ttf');
}

@font-face{
    font-family: 'mainFont';
    src: url('../Roboto_Condensed/RobotoCondensed-Regular.ttf');
}

h1, h2, h3{
    font-size: 1.2em;
    font-weight: bold;
}